.cup{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .beer{
        position: absolute;
        top: -50px;
        left: 0px;
        right: 0px;
        width: 100%;
        height: auto;
        z-index: -1;
    }
   
    .cupimg{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .whitelogo{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 35%;
        }

        img{
            width: 35%;
            height: auto;
        }
    }
    }