.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

html,
body {
  scroll-behavior: smooth;
}


.titleskill {
  height: 40vh;
}

.customP {
  opacity: 0;
  transition: opacity 6s;
}

.activeP {
  opacity: 1;
}

video {
  width: 100%;
  height: auto;
}