@use 'sass:math';
$containerWidth:1176;
$containerPadding:40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1200:1119.98 + px;
$breakpoint992:991.98 + px;
$breakpoint768:767.98 + px;
$breakpoint480:479.98 + px;

@media(max-width: $breakpoint1200){

}

@media(max-width: $breakpoint992){

}

@media(max-width: $breakpoint768){

}

@media(max-width: $breakpoint480){

}


*{
    font-family: 'Plus Jakarta Sans';
    box-sizing: border-box;
}
body{
    background:linear-gradient(90deg, white 10%,#eeecee 80%);
}

// html::-webkit-scrollbar{
//     width:.4rem;
// }

// html::-webkit-scrollbar-track{
//     background:transparent;
// }

// html::-webkit-scrollbar-thumb{
//     background:#cff306;
// }

//Fonts 
$brandFont: 'Josefin Sans', sans-serif;

//Font weight

$bold : 700;
$slim : 400;

//Font size 
$small :16px;
$big : 26px;

// Colors
$brand:red;
$black:#000000;
$purple:#B861FF;
$bg:#1A1A1A;